# Preston's Test file :)

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

## Loading feature data

In [7]:
data_df_full = pd.read_csv('datasets/TRY_Categorical_Traits_Lookup_Table_2012_03_17_TestRelease.csv')
print('size:', data_df_full.size)
data_df_full.head()

size: 3104021

C:\Users\minam\AppData\Local\Temp\ipykernel_14760\767167101.py:1: DtypeWarning: Columns (8,10,12,13,19,21,23,25,26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  data_df_full = pd.read_csv('datasets/TRY_Categorical_Traits_Lookup_Table_2012_03_17_TestRelease.csv')

,AccSpeciesID,AccSpeciesName,IPNI/TROPICOS,Genus,SpeciesEpithet,Family,PhylogeneticGroup,PlantGrowthForm,Succulent,climber,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,80,Abronia maritima,x,Abronia,maritima,Nyctaginaceae,Angiosperm_Eudicotyl,herb,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,139,Abutilon theophrasti,x,Abutilon,theophrasti,Malvaceae,Angiosperm_Eudicotyl,herb,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,169,Acacia aneura,x,Acacia,aneura,Fabaceae,Angiosperm_Eudicotyl,shrub/tree,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,197,Acacia binervata,x,Acacia,binervata,Fabaceae,Angiosperm_Eudicotyl,shrub/tree,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,218,Acacia burkittii,x,Acacia,burkittii,Fabaceae,Angiosperm_Eudicotyl,shrub/tree,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
source_columns = data_df_full.columns.str.contains('source', case=False)
first_col = np.where(source_columns)[0][0]
last_col = len(data_df_full.columns)
df = data_df_full.drop(data_df_full.columns[list(range(first_col, last_col))], axis=1)

In [9]:
df[df['AccSpeciesName'].str.contains('magnificum', case=False)].head(10)

,AccSpeciesID,AccSpeciesName,IPNI/TROPICOS,Genus,SpeciesEpithet,Family,PhylogeneticGroup,PlantGrowthForm,Succulent,climber,...,Epiphyte,Crop,Palmoid,LeafType,LeafPhenology,PhotosyntheticPathway,Woodiness,WoodinessDetail,LeafCompoundness,NumberOfLeaflets
50407,65294,Adenocalymma magnificum,x,Adenocalymma,magnificum,Bignoniaceae,Angiosperm_Eudicotyl,NaN,NaN,NaN,...,NaN,NaN,NaN,broadleaved,NaN,NaN,NaN,NaN,NaN,NaN

## loading domes' plants data

In [10]:
#domes_plants_df_full = pd.read_csv("Plants_Formatted.csv", encoding="latin-1")
#domes_plants_df_full.head()

In [11]:
def clean(string : str) -> str:
    # full string cleaning
    string = string.lower()

    # string formatting cleaning
    substrings = string.split(' ')
    ignore = ['\'' in s for s in substrings]
    ignore.append(True) # ensures it exists in array since index() fails otherwise
    nonignored = substrings[:ignore.index(True)] # we don't care about anything after the first '
    if len(nonignored) <= 1: # can't skip first word, too short
        return nonignored[0] # remove from list for consistency
    else:
        nonignored = nonignored[1:] # skip first word (genus)
        return ' '.join(nonignored)

In [12]:
#clean("Anthurium 'Big Red Bird' x A. 'Round Wan'")

In [13]:
#domes_plants_df_full['Shortened Scientific'] = domes_plants_df_full['Scientific Name'].apply(clean)
#domes_plants_df_full['Shortened Scientific'].head()

In [14]:
#df['Shortened Scientific'] = df['AccSpeciesName'].apply(clean)
#df['Shortened Scientific'].head()

## joining

In [ ]:
#joined = df.merge(domes_plants_df_full, on='Shortened Scientific')

In [15]:
#print('size =', joined.shape)
#joined.head()

## More cleaning!! :)

In [16]:
#joined = joined.dropna(how='all')
#joined = joined.fillna(0)
#joined.head()

# Testing New Idea!!!!
Trying to use kaggle dataset with existing pair labels to extrapolate the data to larger plant species dataset  
Process:  
 - take labeled kaggle dataset
 - expand dataset to TRY plant features
 - fit supervised learning model
 - test with larger TRY plant dataset

In [17]:
pairs_df_full = pd.read_csv('datasets/companion_plants.csv')
print('shape:', pairs_df_full.shape)
pairs_df_full.head(5)

shape: (995, 4)

  Source Node   Link Destination Node Source Type
0     alliums  helps      fruit trees  vegetables
1     alliums  helps      nightshades  vegetables
2     alliums  helps         tomatoes  vegetables
3     alliums  helps         capsicum  vegetables
4     alliums  helps          peppers  vegetables

In [18]:
pairs_df_full[pairs_df_full['Source Node'] == 'fruit trees'] 
# 'fruit trees' isn't a common name, so these will return empty lists when converted to scientific :(
# Meaning these links will be dropped later, as well as the 'fruit trees' in the Destination Node

     Source Node       Link Destination Node Source Type
757  fruit trees  helped_by          alliums      fruits
758  fruit trees  helped_by            tansy      fruits
759  fruit trees  helped_by      nasturtiums      fruits
760  fruit trees  helped_by        marigolds      fruits
761  fruit trees  helped_by         marjoram      fruits
762  fruit trees  helped_by          mustard      fruits
763  fruit trees  helped_by          delions      fruits
764  fruit trees  helped_by           borage      fruits
860  fruit trees  helped_by       lemon balm      fruits

In [19]:
### WARNING: this will take approx. 8 hours to run ###
# from EcoNameTranslator import to_species
# scientific_names_source_helps_or_hurts_destination = []
# already_looked_up_names = {} # store calculations to avoid repeating them
# unique_common_names = pairs_df_full['Source Node'].unique()
# for name in tqdm(unique_common_names, position=0, desc='Source common names'):
#     # check if name is already looked up
#     if name not in already_looked_up_names:
#         source_scientific_names = to_species([name], includeCommon=False)[name] # add all scientific names linked to source's common name
#         already_looked_up_names[name] = source_scientific_names # store to avoid recalculating
#     else:
#         source_scientific_names = already_looked_up_names[name] # get already calculated result

#     target_source_rows = pairs_df_full[pairs_df_full['Source Node'] == name] # get all rows with this name
#     for row in target_source_rows.itertuples(): # iterate over all destinations as tuple list (needs indexing) 
#         link = row[2] # Link; helps, hurts, or helped by
#         destination_node = row[3] # Destination Node; what the other plant is
#         # check if name is already looked up
#         if destination_node not in already_looked_up_names:
#             destination_scientific_names = to_species([destination_node])[destination_node] # get all scientific names of the other plant
#             already_looked_up_names[destination_node] = destination_scientific_names
#         else: 
#             destination_scientific_names = already_looked_up_names[destination_node]
#         # we want to add all pairs of source and destination scientific names to the new dataframe
#         for source_name in source_scientific_names:
#             for destination_name in destination_scientific_names:
#                 scientific_names_source_helps_or_hurts_destination.append({
#                     'Source Common' : name,
#                     'Source Scientific' : source_name,
#                     'Destination Common' : destination_node,
#                     'Destination Scientific' : destination_name,
#                     'Link' : link
#                 })
# import pickle

# with open("my_dict.pkl", "wb") as f:
#     pickle.dump(scientific_names_source_helps_or_hurts_destination, f) # MAKE SURE TO SAVE IT AFTER COMPUTE ASDFG

In [20]:
plants_common_to_scientific = pd.read_csv('datasets/plantlst.txt', delimiter=',')
plants_common_to_scientific = plants_common_to_scientific[['Scientific Name with Author', 'Common Name']]
plants_common_to_scientific['Scientific Name with Author'] = plants_common_to_scientific['Scientific Name with Author'].str.split().str[:2].str.join(sep=" ") # take first 2 words
plants_common_to_scientific = plants_common_to_scientific.dropna(ignore_index=True)
print('size of plants_common_to_scientific:', plants_common_to_scientific.shape)
def to_species(name : list) -> list: # keep formatting of EcoNameTranslator API
    name = name[0]
    filtered = plants_common_to_scientific[plants_common_to_scientific['Common Name'].str.lower().str.contains(name.lower())]
    return {name : filtered['Scientific Name with Author'].tolist()} # keep formatting of EcoNameTranslator API
to_species(['acacia'])['acacia'][:10]

size of plants_common_to_scientific: (43776, 2)

['Acacia acinacea',
 'Acacia Mill.',
 'Acacia ampliceps',
 'Acaciella angustissima',
 'Acaciella angustissima',
 'Acaciella angustissima',
 'Acacia auriculiformis',
 'Acacia confusa',
 'Acacia cultriformis',
 'Acaciella glauca']

In [21]:
# this uses the above function to query plantlst.txt instead of any API, making it much faster (but less accurate, in theory)
scientific_names_source_helps_or_hurts_destination = []
already_looked_up_names = {} # store calculations to avoid repeating them
unique_common_names = pairs_df_full['Source Node'].unique()
for name in tqdm(unique_common_names, position=0, desc='Source common names'):
    # check if name is already looked up
    if name not in already_looked_up_names:
        source_scientific_names = to_species([name])[name] # add all scientific names linked to source's common name
        already_looked_up_names[name] = source_scientific_names # store to avoid recalculating
    else:
        source_scientific_names = already_looked_up_names[name] # get already calculated result

    target_source_rows = pairs_df_full[pairs_df_full['Source Node'] == name] # get all rows with this name
    for row in target_source_rows.itertuples(): # iterate over all destinations as tuple list (needs indexing) 
        link = row[2] # Link; helps, hurts, or helped by
        destination_node = row[3] # Destination Node; what the other plant is
        # check if name is already looked up
        if destination_node not in already_looked_up_names:
            destination_scientific_names = to_species([destination_node])[destination_node] # get all scientific names of the other plant
            already_looked_up_names[destination_node] = destination_scientific_names
        else: 
            destination_scientific_names = already_looked_up_names[destination_node]
        # we want to add all pairs of source and destination scientific names to the new dataframe
        for source_name in source_scientific_names:
            for destination_name in destination_scientific_names:
                scientific_names_source_helps_or_hurts_destination.append({
                    'Source Common' : name,
                    'Source Scientific' : source_name,
                    'Destination Common' : destination_node,
                    'Destination Scientific' : destination_name,
                    'Link' : link
                })

Source common names: 100%|█████████████████████████████████████████████████████████████| 97/97 [00:10<00:00,  9.37it/s]

In [44]:
hurts_help_df = pd.DataFrame(scientific_names_source_helps_or_hurts_destination)
print('hurts_help_df shape:', hurts_help_df.shape)
hurts_help_df.head()

hurts_help_df shape: (501071, 5)

,Source Common,Source Scientific,Destination Common,Destination Scientific,Link
0,asparagus,Asparagus aethiopicus,parsley,Aethusa cynapium,helps
1,asparagus,Asparagus aethiopicus,parsley,Aletes acaulis,helps
2,asparagus,Asparagus aethiopicus,parsley,Aletes anisatus,helps
3,asparagus,Asparagus aethiopicus,parsley,Aletes J.M.,helps
4,asparagus,Asparagus aethiopicus,parsley,Aletes filifolius,helps

### Next step: join hurts / help information with plant feature dataset on scientific name

In [52]:
plant_feature_data_df = pd.read_csv('datasets/GlobResp database_Atkin et al 2015_New Phytologist.csv')
print('plant feature data shape:', plant_feature_data_df.shape)
plant_feature_data_df.head()

plant feature data shape: (1137, 55)

,Country,Biome,Site,Latitude,Longitude,Altitude,Atm_Press,Responsible,Species,Family,...,Vcmax_m_25,Rdarka:Vcmax_LfT,Rdarka:Vcmax_25C_varQ10,MAT,MeanT_WarmestQtr,Annual_Precip,Precip_Warmest_Qtr,Measuring_Month_MeanT,ai_yr,pet_yr
0,Costa Rica,TrRF_lw,10?26'N_83?59'W,10.43,-83.98,105,100.07,Niinemets,Piper sancti-felicis,Piperaceae,...,NaN,NaN,NaN,26.1,27.2,3981,731,NaN,2.515,1583.0
1,Costa Rica,TrRF_lw,10?28'N_84?02'W,10.47,-84.03,140,99.66,Niinemets,Pentaclethra macroloba,Fabaceae,...,719.7,0.01,0.02,25.6,26.6,4168,750,NaN,2.658,1568.0
2,Bangladesh,TrRF_lw,24?12'N_90?9'E,24.20,90.15,21,101.07,Niinemets,Bischofia javanica,Phyllanthaceae,...,NaN,NaN,NaN,25.5,28.5,1970,736,NaN,1.344,1466.0
3,USA-PN,TeDF,40?47'N_77?53'W,40.78,-77.88,348,97.23,Niinemets,Acer saccharum,Sapindaceae,...,493.0,0.03,0.03,9.5,20.6,986,285,NaN,0.986,1000.0
4,USA-PN,TeDF,40?48'N_77?50'W,40.80,-77.83,335,97.38,Niinemets,Acer platanoides,Sapindaceae,...,1013.5,0.01,0.01,9.6,20.8,984,286,NaN,0.972,1012.0

In [24]:
joined = pd.merge(left=hurts_help_df, right=plant_feature_data_df, left_on='Source Scientific', right_on='Species')
print('merged size:', joined.shape)
joined.head()

merged size: (1793, 60)

,Source Common,Source Scientific,Destination Common,Destination Scientific,Link,Country,Biome,Site,Latitude,Longitude,...,Vcmax_m_25,Rdarka:Vcmax_LfT,Rdarka:Vcmax_25C_varQ10,MAT,MeanT_WarmestQtr,Annual_Precip,Precip_Warmest_Qtr,Measuring_Month_MeanT,ai_yr,pet_yr
0,lupin,Lupinus perennis,lettuce,Claytonia perfoliata,helps,USA-MN,TeG,Cedar Creek-OC-TeG,45.41,-93.21,...,NaN,NaN,NaN,6.3,20.4,749,314,NaN,0.835,897.0
1,lupin,Lupinus perennis,lettuce,Claytonia perfoliata,helps,USA-MN,TeG,Cedar Creek-OC-TeG,45.41,-93.21,...,NaN,NaN,NaN,6.3,20.4,749,314,NaN,0.835,897.0
2,lupin,Lupinus perennis,lettuce,Claytonia perfoliata,helps,USA-MN,TeG,Cedar Creek-OC-TeG,45.41,-93.21,...,NaN,NaN,NaN,6.3,20.4,749,314,NaN,0.835,897.0
3,lupin,Lupinus perennis,lettuce,Claytonia perfoliata,helps,USA-MN,TeG,Cedar Creek-OC-TeG,45.41,-93.21,...,NaN,NaN,NaN,6.3,20.4,749,314,NaN,0.835,897.0
4,lupin,Lupinus perennis,lettuce,Dudleya caespitosa,helps,USA-MN,TeG,Cedar Creek-OC-TeG,45.41,-93.21,...,NaN,NaN,NaN,6.3,20.4,749,314,NaN,0.835,897.0

### Cleaning time!

In [25]:
joined['PFT_LPJ'].unique() # see how many unique items exist for feasibility as categorical data

array(['TmpH', 'TrpEvBl', 'TmpEvBl'], dtype=object)

In [41]:
cleaned = joined.copy()
# NaN's
cleaned = cleaned.dropna(how='all')
cleaned = cleaned.fillna(0.0)
# convert target 'Link' feature to int
link_categories = cleaned['Link'].unique()
print('link categories:', link_categories)
cat_to_int = {cat: i for i, cat in enumerate(link_categories)}
cleaned['Link'] = [cat_to_int[val] for val in cleaned['Link']]
cleaned['Link'] = cleaned['Link'].astype(int)
# filter columns
categorical_columns = ['Country', 'Biome', 'Site', 'Latitude', 'Longitude',
                       'PFT_LPJ', 'PFT_Sheffield', 'PFT_JULES', 'PFT_Wright', 'PFT_JULES2', 'PFT_Exeter' # plant functional type
]
cleaned[categorical_columns] = cleaned[categorical_columns].astype('category')
numeric_cols = cleaned.select_dtypes(include=[np.number]).columns.tolist()
columns_to_keep = categorical_columns + numeric_cols
cleaned = cleaned[columns_to_keep] # filter
# convert categorical to one-hot-encoded dummy ints (0 = helps, 1 = helped_by, 2 = avoid)
cleaned = pd.get_dummies(cleaned, columns=categorical_columns)
print('shape after cleaning:', cleaned.shape)
cleaned.head()

link categories: ['helps' 'helped_by' 'avoid']
shape after cleaning: (1793, 76)

,Link,Altitude,Atm_Press,Aa_sat,gs_sat,Ci_sat,LfT_sat,Rdark_a,LfT_Rdark,Am_sat,...,PFT_JULES_S,PFT_Wright_AnC3H,PFT_Wright_AnEvBlS,PFT_Wright_AnEvBlT,PFT_JULES2_C3H,PFT_JULES2_EvBlT,PFT_JULES2_EvS,PFT_Exeter_BlEvTrp,PFT_Exeter_C3H,PFT_Exeter_SEv
0,0,300,97.78,20.9,0.834,0.0,25.0,1.92,25.0,321.9,...,False,True,False,False,True,False,False,False,True,False
1,0,300,97.78,20.9,0.834,0.0,25.0,1.92,25.0,321.9,...,False,True,False,False,True,False,False,False,True,False
2,0,300,97.78,20.9,0.834,0.0,25.0,1.92,25.0,321.9,...,False,True,False,False,True,False,False,False,True,False
3,0,300,97.78,20.9,0.834,0.0,25.0,1.92,25.0,321.9,...,False,True,False,False,True,False,False,False,True,False
4,0,300,97.78,20.9,0.834,0.0,25.0,1.92,25.0,321.9,...,False,True,False,False,True,False,False,False,True,False

### Training time!

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import random
# random.seed(79) # seed for replicability

In [28]:
# standardizing numerical columns
scaler = StandardScaler()
for col in numeric_cols:
    if col != 'Link': # don't scale target int column!
        cleaned[col] = scaler.fit_transform(cleaned[col].to_numpy().reshape(-1, 1))

In [29]:
X = cleaned.drop('Link', axis=1)
y = cleaned['Link']

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=79)

In [31]:
# k-fold cross validation for feature selection and best depth
# Note: this DOES NOT fully explore all feature permutations (Exploring 5 features would be C(79,5) = 24 million)
#       Full exploration is computationally impossible
#       We'll use forward and backward selection instead!
# Forward selection: (starting with no features)
# hyper parameters:
k_folds = 5
depth_range = range(1, 20)

# loop variables:
forward_best_err = -float('inf')
forward_best_depth = 0
forward_best_columns = set() # no duplicates
feature_columns = list(X.columns)
random.shuffle(feature_columns) # randomize order for fairness
feature_columns = set(feature_columns)
for col in tqdm(feature_columns): # don't include Link column; only use X columns
    for depth in depth_range:
        clf = RandomForestClassifier(max_depth=depth, random_state=79)
        experiment_X = X_train[list(forward_best_columns) + [col]]
        cv_results = cross_validate(clf, experiment_X, y_train, cv=k_folds, 
                                    scoring=('neg_mean_squared_error'))
        max_err = np.max(cv_results['test_score']) # max b/c negative
        if max_err > forward_best_err: # strictly greater than to encourage fewer features
            forward_best_err = max_err
            forward_best_depth = depth
            forward_best_columns.add(col)

print('best error:', forward_best_err)
print('best columns:', forward_best_columns)
print('best depth:', forward_best_depth)

100%|██████████████████████████████████████████████████████████████████████████████████| 75/75 [16:25<00:00, 13.14s/it]

best error: -0.07806691449814127
best columns: {'Vcmax_m_25', 'Rdarka_25C_FixedQ10'}
best depth: 1

In [32]:
# Backwards selection: (starting with all features)
# hyper parameters:
k_folds = 5
depth_range = range(1, 20)

# loop variables:
backward_best_err = -float('inf')
backward_best_depth = 0
backward_best_columns = []
feature_columns = list(X.columns)
random.shuffle(feature_columns) # randomize order for fairness
feature_columns = set(feature_columns)
for col in tqdm(X.columns): # don't include Link column; only use X columns
    for depth in depth_range:
        clf = RandomForestClassifier(max_depth=depth, random_state=79)
        experiment_X = X_train[list(feature_columns)] # remove experimental column for this iteration only
        cv_results = cross_validate(clf, experiment_X, y_train, cv=k_folds, 
                                    scoring=('neg_mean_squared_error'))
        max_err = np.max(cv_results['test_score']) # max b/c negative
        if max_err >= backward_best_err: # greater or equals to encourage fewer features
            backward_best_err = max_err
            backward_best_depth = depth
            backward_best_columns = list(feature_columns) # store current best feature combination
    feature_columns.pop() # remove feature at each iteration

print('best error:', backward_best_err)
print('best columns:', backward_best_columns)
print('best depth:', backward_best_depth)

100%|██████████████████████████████████████████████████████████████████████████████████| 75/75 [43:54<00:00, 35.12s/it]

best error: -0.07806691449814127
best columns: ['Rdarka_TWQ.T_FixedQ10', 'Rdarkm_MeasMonth.T_varQ10']
best depth: 19

In [33]:
# finding global experimental best:
if forward_best_err <= backward_best_err:
    print('best == forwards')
    best_columns = list(forward_best_columns)
    best_depth = forward_best_depth
else:
    print('best == backwards')
    best_columns = list(backward_best_columns)
    best_depth = backward_best_depth

best == forwards

### Testing time!
We'll test on both the test set, AND the full GlobResp dataset to see a more realistic comparison

In [34]:
# testing on test set
best_clf = RandomForestClassifier(max_depth=best_depth, random_state=79)
cv_results = cross_validate(best_clf, X_test[best_columns], y_test, cv=k_folds, 
                                    scoring=('neg_mean_squared_error'))
mean_err = np.mean(cv_results['test_score'])
print('mean error on test set:', mean_err)

# accuracy
best_clf.fit(X_train[best_columns], y_train)
prediction = best_clf.predict(X_test[best_columns])
accuracy = accuracy_score(y_test, prediction)
print('accuracy on test set:', accuracy)

mean error on test set: -0.06461922596754058
accuracy on test set: 0.9354120267260579

In [35]:
# sanity check with prediction counts
zeros = prediction[prediction == 0].shape[0]
ones = prediction[prediction == 1].shape[0]
twos = prediction[prediction == 2].shape[0]
print('Count of zeros:', zeros)
print('Count of ones:', ones)
print('Count of twos:', twos)

Count of zeros: 210
Count of ones: 239
Count of twos: 0

In [36]:
# testing on all of GlobResp
all_feature_test_x = plant_feature_data_df.copy()
all_feature_test_x = pd.get_dummies(all_feature_test_x, columns=categorical_columns)
all_feature_test_x = all_feature_test_x[best_columns]
clf = RandomForestClassifier(max_depth=best_depth, random_state=79)
clf.fit(X_train[best_columns], y_train)
prediction = np.array(clf.predict(all_feature_test_x))

In [37]:
# prediction can be 0, 1, or 2
# our only goodness of prediction measurement is a balance of prediction here
zeros = prediction[prediction == 0].shape[0]
ones = prediction[prediction == 1].shape[0]
twos = prediction[prediction == 2].shape[0]
print('Count of zeros:', zeros)
print('Count of ones:', ones)
print('Count of twos:', twos)

Count of zeros: 250
Count of ones: 887
Count of twos: 0

# Other option: compute similarity by geographic proximity

In [38]:
from pygbif import occurrences

# Example: Get 300 occurrences of "Solanum lycopersicum" (tomato)
res = occurrences.search(
    scientificName="Aegilops comosa",
    hasCoordinate=True,
    limit=300
)

# Convert to a DataFrame
import pandas as pd
df = pd.DataFrame(res["results"])

# Keep essential geographic fields
df = df[["species", "decimalLatitude", "decimalLongitude", 
         "eventDate", "basisOfRecord", "coordinateUncertaintyInMeters"]]

print(df.head(100))

            species  decimalLatitude  decimalLongitude   eventDate  \
0   Aegilops comosa        37.338330         22.655000  2018-05-20
1   Aegilops comosa        37.523890         22.635280  2018-05-18
2   Aegilops comosa        37.328890         22.580000  2018-05-24
3   Aegilops comosa        37.616670         22.606390  2018-05-17
4   Aegilops comosa        37.515000         23.101670  2018-05-14
..              ...              ...               ...         ...
95  Aegilops comosa        38.910560         21.927500  2007-06-09
96  Aegilops comosa        37.833333         20.633333  2003-05-11
97  Aegilops comosa        37.866667         20.733333  2003-05-10
98  Aegilops comosa        40.216667         21.000000  1999-06-01
99  Aegilops comosa        36.616667         24.916667  1997-04-15

         basisOfRecord  coordinateUncertaintyInMeters
0   PRESERVED_SPECIMEN                            NaN
1   PRESERVED_SPECIMEN                            NaN
2   PRESERVED_SPECIMEN                            NaN
3   PRESERVED_SPECIMEN                            NaN
4   PRESERVED_SPECIMEN                            NaN
..                 ...                            ...
95  PRESERVED_SPECIMEN                            NaN
96  PRESERVED_SPECIMEN                            NaN
97  PRESERVED_SPECIMEN                            NaN
98  PRESERVED_SPECIMEN                            NaN
99  PRESERVED_SPECIMEN                            NaN

[100 rows x 6 columns]

# Madison is taking over >:)
**Extracting little groups of plants that help eachother, so they can be planted together on the map/return of the generator**

In [57]:
# Adding the predicted link to the dataframe
all_feature_test_x["Predicted Link"] = prediction
all_feature_test_x["Species"] = plant_feature_data_df["Species"]
all_feature_test_x["Source Scientific"] = joined["Source Scientific"]
all_feature_test_x["Destination Scientific"] = joined["Destination Scientific"]
all_feature_test_x.head(50)

,Vcmax_m_25,Rdarka_25C_FixedQ10,Predicted Link,Species,Source Scientific,Destination Scientific
0,NaN,0.15,0,Piper sancti-felicis,Lupinus perennis,Claytonia perfoliata
1,719.7,0.38,1,Pentaclethra macroloba,Lupinus perennis,Claytonia perfoliata
2,NaN,0.45,0,Bischofia javanica,Lupinus perennis,Claytonia perfoliata
3,493.0,0.37,1,Acer saccharum,Lupinus perennis,Claytonia perfoliata
4,1013.5,0.39,1,Acer platanoides,Lupinus perennis,Dudleya caespitosa
5,588.2,0.34,1,Acer saccharum,Lupinus perennis,Ixeris stolonifera
6,NaN,0.66,0,Quercus velutina,Lupinus perennis,Lactuca biennis
7,459.7,0.46,1,Alchornea triplinervia,Lupinus perennis,Lactuca canadensis
8,552.4,0.59,1,Uncaria tomentosa,Lupinus perennis,Lactuca L.
9,NaN,NaN,1,Pinus banksiana,Lupinus perennis,Lactuca floridana
10,145.6,1.28,1,Caraipa punctulata,Lupinus perennis,Lactuca floridana
11,391.8,1.50,1,Cespedesia spathulata,Lupinus perennis,Lactuca floridana
12,221.1,2.21,1,Chaunochiton kappleri,Lupinus perennis,Lactuca graminifolia
13,240.1,1.08,1,Dipteryx micrantha,Lupinus perennis,Lactuca graminifolia
14,88.0,1.49,1,Guatteria schomburgkiana,Lupinus perennis,Lactuca graminifolia
15,164.5,1.61,1,Hevea pauciflora,Lupinus perennis,Lactuca hirsuta
16,248.1,0.45,1,Inga striata,Lupinus perennis,Lactuca hirsuta
17,200.4,1.57,1,Iryanthera lancifolia,Lupinus perennis,Lactuca hirsuta
18,NaN,0.84,0,Licania arachnoidea,Lupinus perennis,Lactuca hirsuta
19,216.3,0.96,1,Minquartia guianensis,Lupinus perennis,Lactuca indica
20,490.6,0.91,1,Pourouma guianensis subsp guianensis,Lupinus perennis,Lactuca ludoviciana
21,257.8,1.18,1,Pouteria subrotata,Lupinus perennis,Lactuca ×morssii
22,260.1,1.22,1,Ruptiliocarpon caracolito,Lupinus perennis,Lactuca saligna
23,53.4,0.74,1,Senefeldera inclinata,Lupinus perennis,Lactuca sativa
24,71.4,1.12,1,Solanum kioniotrichum,Lupinus perennis,Lactuca serriola
25,128.4,0.87,1,Swartzia polyphylla,Lupinus perennis,Lactuca tatarica
26,108.4,1.40,1,Taralea oppositifolia,Lupinus perennis,Lactuca tatarica
27,180.3,0.76,1,Aniba perutilis,Lupinus perennis,Lactuca virosa
28,188.9,2.15,1,Aspidosperma desmanthum,Lupinus perennis,Montia bostockii
29,182.1,1.42,1,Aspidosperma excelsum,Lupinus perennis,Montia chamissoi
30,121.5,1.35,1,Brosimum potabile,Lupinus perennis,Montia dichotoma
31,95.0,1.04,1,Calyptranthes bipennis,Lupinus perennis,Montia diffusa
32,404.9,0.50,1,Diplotropis sp,Lupinus perennis,Montia fontana
33,55.4,1.56,1,Emmotum floribundum,Lupinus perennis,Montia howellii
34,140.5,1.21,1,Guatteria decurrens,Lupinus perennis,Montia linearis
35,120.5,1.17,1,Humiria balsamifera,Lupinus perennis,Montia L.
36,67.5,2.05,1,Hymenolobium nitidum,Lupinus perennis,Montia parvifolia
37,136.2,3.56,1,Licania unguiculata,Lupinus perennis,Montia parvifolia
38,161.7,1.32,1,Macrolobium microcalyx,Lupinus perennis,Montia parvifolia
39,207.0,0.60,1,Micrandra elata,Lupinus perennis,Mycelis muralis
40,203.7,0.37,1,Micrandra spruceana,Lupinus perennis,Ottelia alismoides
41,131.7,0.55,1,Ocotea aciphylla,Lupinus perennis,Pinaropappus Less.
42,50.1,0.92,1,Ocotea myriantha,Lupinus perennis,Pinaropappus parvus
43,137.8,1.74,1,Pouteria oblanceolata,Lupinus perennis,Pinaropappus roseus
44,247.3,0.96,1,Roucheria schomburgkii,Lupinus perennis,Pinaropappus roseus
45,157.7,1.34,1,Simarouba amara,Lupinus perennis,Pinaropappus roseus
46,NaN,0.88,0,Tachigali bracteosa,Lupinus perennis,Pistia stratiotes
47,191.5,1.21,1,Tapirira guianensis,Lupinus perennis,Saxifraga micranthidifolia
48,250.5,1.64,1,Virola pavonis,Lupinus perennis,Stephanomeria blairii
49,123.2,1.14,1,Caraipa utilis,Lupinus perennis,Stephanomeria cichoriacea

In [56]:
# Creating csv_file to connect to "server.py" which groups alike 

all_feature_test_x.to_csv("groupable_data.csv")

In [ ]:

user_selection = []
selected = big_df[ big_df["Species"].isin(user_selection)]